<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="pinterest" content="nopin" />
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/favicon/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./assets/favicon/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./assets/favicon/favicon-16x16.png') %>">
  <link rel="mask-icon" href="<%= require('./assets/favicon/safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <h1 class="heading heading-desktop">Mikaela Johansson <span class="accent-color">- Graphic designer</span></h1>
  <nav class="main-navigation">
    <div class="button js-scroll-nav is-active">Top</div>
    <div class="button js-scroll-nav">About</div>
    <div class="button js-scroll-nav">Projects</div>
    <div class="button js-scroll-nav">Contact</div>
  </nav>
  <main>
    <section class="big-block js-scroll-pos">
      <div class="big-block-inner">
        <div class="logo-container">
          <img class="logo" src="<%= require('./assets/images/MJ-logga.svg') %>" alt="">
        </div>
        <h1 class="heading heading-mobile">Mikaela Johansson - Graphic designer</h1>
      </div>
    </section>

    <section class="big-block js-scroll-pos">
      <div class="big-block-inner">
        <p>My name is <span>Mikaela. </span>I do<span> web design, graphic design, app design, print & illustration. </span>I work with <span>Sketch, Adobe, Invision, pen & paper. </span>I am <span>humble, structured and great with presentations.</span></p>
      </div>
    </section>

    <section class="big-block js-scroll-pos">
      <!-- slide-container will toggle between project-list & project-info -->
      <div class="slide-container">
        <section class="projects-container">

          <div class="project-list">
            <!-- Each project is associated to on project-info, make sure to match id with the class of project info -->
            <article class="project" id="hygglo">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/hygglo.svg') %>" alt="hygglo logo">
              </div>
            </article>
            <article class="project" id="comviq">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/comviq.svg') %>" alt="comviq logo">
              </div>
            </article>
            <article class="project" id="mini">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/mini.svg') %>" alt="mini logo">
              </div>
            </article>
            <article class="project" id="nix">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/nix.svg') %>" alt="nix logo">
              </div>
            </article>
            <article class="project" id="keyflow">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/keyflow.svg') %>" alt="keyflow logo">
              </div>
            </article>
            <article class="project" id="bmw">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/bmw.svg') %>" alt="bmw logo">
              </div>
            </article>
            <article class="project" id="aff">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/aff.svg') %>" alt="allt för föräldrar logo">
              </div>
            </article>
            <article class="project" id="sv">
              <div class="project-content">
                <img class="project-logo" src="<%= require('./assets/logos/sv.svg') %>" alt="studieförbundet vuxenhögskolan">
              </div>
            </article>
          </div>

          <div class="project-info-container">

            <button class="back-button">
              <img src="<%= require('./assets/icons/icon-back.svg') %>" alt="back to projects">
            </button>

            <div class="project-info comviq-info">
              <p>Comviq<br><span>Various web stuff, print material, direct advertising and ads.</span></p>
            </div>
            <div class="project-info hygglo-info">
              <p>Hygglo<br><span>Redesign for App version 2 and design for desktop version.</span></p>
            </div>
            <div class="project-info mini-info">
              <p>Mini<br><span>New website for the nordic countries and the Baltic states.</span></p>
            </div>
            <div class="project-info nix-info">
              <p>Nix<br><span>New website, digital appearance and updated logotype.</span></p>
            </div>
            <div class="project-info keyflow-info">
              <p>Keyflow<br><span>New design for the Keyflow Business web.</span></p>
            </div>
            <div class="project-info bmw-info">
              <p>BMW<br><span>Design for Denmark’s new leasing site & design for Swedish Retailer sites.</span></p>
            </div>
            <div class="project-info aff-info">
              <p>Allt för föräldrar<br><span>New website design, logotype and digital identity.</span></p>
            </div>
            <div class="project-info sv-info">
              <p>Studie<wbr>förbundet Vuxenskolan<br><span>New user experience, website design and digital identity.</span></p>
            </div>

          </div>
        </section>
      </div>
    </section>

    <section class="big-block js-scroll-pos">
      <div class="big-block-inner">
        <p>Let's meet <span>and I'll show you some of my work and tell you all you want to know :D</span></p>
      </div>
      <div class="sm-container">
        <a href="https://www.linkedin.com/in/mikaelajohansson/"><img src="<%= require('./assets/icons/icon-linkedin.svg') %>" alt="linkedIn"></a>
        <a href="mailto:hanna.mikaela.johansson@gmail.com"><img src="<%= require('./assets/icons/icon-mail.svg') %>" alt="mail"></a>
      </div>
    </section>
  </main>
  <footer><span>Designed by</span> <img class="logo" src="<%= require('./assets/images/miki-face.png') %>" alt=""></footer>

  <div class="landscape-message">
    <section class="big-block">
      <div class="big-block-inner">
        <p>Please turn your phone for the best experience.</p>
        <img src="<%= require('./assets/images/turn-icon.svg') %>" alt="turn phone">
      </div>
    </section>
  </div>

</body>
</html>
