@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "./reset.css";

:root {
  --primaryFont: "Source Sans Pro", sans-serif;
  --siteBorder: 2rem;
  --projectBorder: 1px solid rgba(255, 255, 255, 0.5);
  --primaryColor: #3e022b;
  --accentColor: #a80071;
  --accentColorHover: #c24c9c;
  --mediumGray: #757474;
}

::selection {
  background: #000; /* WebKit/Blink Browsers */
  opacity: 1;
}

html {
  font-size: 12px;

  @media (min-width: 680px) {
    font-size: 16px;
  }
}

body {
  font-family: var(--primaryFont);
  color: #fff;
}

main {
  position: relative;
  z-index: 1;
  margin-bottom: calc(var(--siteBorder) * 2);
  background-color: #fff;
  margin-bottom: var(--siteBorder);

  @media (min-width: 660px) {
    margin-bottom: var(--siteBorder) * 2;
  }
}

.header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.8rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 1rem;
  }
}

.big-block {
  width: calc(100vw - var(--siteBorder) * 2);
  margin: var(--siteBorder);
  padding: var(--siteBorder);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--siteBorder) * 2);
  background-size: 100% 150%;
  transform: rotateZ(360deg);
  animation-duration: 5s;
  animation-name: moveBg;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @media (min-width: 660px) {
    width: calc(100vw - var(--siteBorder) * 2);
    min-height: calc(100vh - var(--siteBorder) * 2);
    margin: var(--siteBorder);
    padding: var(--siteBorder);
  }
}

.big-block .big-block-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.big-block:nth-child(1) {
  background-image: linear-gradient(180deg, #3d0029 0%, #000000 100%);
}
.big-block:nth-child(2) {
  background-image: linear-gradient(180deg, #000000 0%, #3d0029 100%);
}
.big-block:nth-child(3) {
  background-image: linear-gradient(180deg, #3d0029 0%, #000000 100%);
  margin-bottom: calc(var(--siteBorder) * 5);
}

.main-navigation {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;

  @media (min-width: 660px) {
    background-color: transparent;
    height: auto;
    width: auto;
    transform: rotate(270deg) translateY(-50%);
    left: -100px;
    line-height: 0;
    top: 50%;
    flex-direction: row-reverse;
  }
}

.main-navigation .button {
  user-select: none;
  cursor: pointer;
  color: var(--mediumGray);
  height: var(--siteBorder);
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;

  &.is-active {
    color: var(--primaryColor);
  }

  @media (min-width: 660px) {
    font-size: 0.8rem;
  }
}

.logo-container {
  background-color: #fff;
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 660px) {
    width: 80px;
    height: 80px;
    left: 40px;
    transform: none;
  }
}

.logo-container .logo {
  display: block;
  max-width: 50%;
  width: 100%;
  height: auto;
}

.mj-circle-image {
  width: 168px;
  height: 168px;
  margin-bottom: 2rem;
}

.action-button {
  border-radius: 99px;
  background-color: var(--accentColor);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  padding: 0 25px;
  height: 40px;
  transition: all 0.3s;

  &:hover {
    background-color: var(--accentColorHover);
  }
}

.project-logo {
  margin: 20px 0 40px 0;
}

.project-logo.multiple {
  width: 100%;
}

.sm-container {
  margin-top: var(--siteBorder);
}

.sm-container a {
  margin-right: 20px;
  display: inline-block;
}

.sm-container .sm-icon {
  transition: fill 0.3s;
  &:hover {
    fill: var(--accentColorHover);
  }
}

footer {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 40px;
  height: var(--siteBorder);
  background-color: #fff;

  @media (min-width: 660px) {
    height: calc(var(--siteBorder) * 2);
  }
}

footer p {
  max-width: 500px;
  margin: 10px var(--siteBorder);
}

footer img {
  display: block;
  width: 3rem;
  height: auto;
}

/* Show message on phones in landscape */
.landscape-message {
  display: none;
}

@media (max-width: 900px) and (orientation: landscape) {
  .landscape-message {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    background-color: #fff;
  }

  .landscape-message .big-block {
    width: calc(100vw - var(--siteBorder));
    min-height: calc(100vh - var(--siteBorder));
    margin: calc(var(--siteBorder) / 2);
    padding: calc(var(--siteBorder) / 2);
    text-align: center;
  }
}

/* Animations */
@keyframes moveBg {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
